<!doctype html>
<html>
  <head>
    <title>Vitals</title>
  </head>

  <body>
    <h1>vital data</h1>
    <ul id="messages"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<!--  -->
    <script>
      var socket = io();

      socket.on('chat message', function(msg){
        console.log('//////////////////');
        var data = JSON.parse(msg)

        // var myVital = {
        //     height: data.height,
        //     weight: data.weight,
        //     bpm: data.bpm,
        //     temp: data.temp
        // }

        var print = 'height: '+data.height+"cm"+", "+
                    'weight: '+data.weight+"kg"+", "+
                    'bpm: '+data.bpm+", "+
                    'temp: '+data.temp;

      	// get data from socket (broadcasting)
        $('#messages').append($('<li>').text(print));
        // $('#messages').append($('<li>').text(data.height));
      });
    </script>
  </body>
</html>
