
<!doctype html>
<html>
  <head>
  </head>

  <body>
  	<h1>myVital data</h1>
  	<p>height: {{height}}</p>
  	<p>weight: {{weight}}</p>
  	<p>bpm: {{bpm}}</p>
  	<p>temp: {{temp}}</p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<!--  -->
    <script>
      var socket = io();

      socket.emit('chat message', {{height}}); 

      // $('form').submit(function(){
      // 	// send data to socket
      //   socket.emit('chat message', $('#m').val()); 
      //   $('#m').val('');
      //   return false;
      // });

      // socket.on('chat message', function(msg){
      // 	// get data from socket (broadcasting)
      //   $('#messages').append($('<li>').text(msg));
      // });
    </script>
  </body>
</html>

