<!doctype html>
<html>
  <head>
    <title>Vitals</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    
    <style>
      body {
        padding: 5%;
        font-family: 'Open Sans', sans-serif;
      }
      h1 {
        letter-spacing: 1px;
      }

    </style>
  </head>

  <body>
  	<h1>myVital data</h1>
  	<p>height: {{height}}</p>
  	<p>weight: {{weight}}</p>
  	<p>bpm: {{bpm}}</p>
  	<p>temp: {{temp}}</p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<!--  -->
    <script>
      var socket = io();

      var myVital = {
          height: {{height}},
          weight: {{weight}},
          bpm: {{bpm}},
          temp: {{temp}}
      }

      socket.emit('chat message', JSON.stringify(myVital)); 
    </script>
  </body>
</html>

